.postDetails {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.postDetailsTitle {
   /* background: -webkit-linear-gradient(#444f5f8f, #374356); */
   background: -webkit-linear-gradient(#4cfd208f, #374356);
   font-weight: 600;
   font-size: 24px;
   color: transparent;
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.postCard {
   /* width: 250px; */
   max-width: 90%;
   background-color: white;
   box-shadow: 1px 2px 3px rgb(0 0 0 / 0.3);
   border-radius: 10px;
   position: relative;
   box-sizing: border-box;
   padding: 20px 30px;
}

.postTitle {
   background: -webkit-linear-gradient(#444f5f8f, #374356);
   font-weight: 600;
   font-size: 24px;
   color: transparent;
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-size: 21px;
   line-height: 25px;
   margin-top: 20px;
   margin-bottom: 7px;
}
